<%- include('./header.ejs') %>

    <div class="profile-cnt">
        <div class="profile-card">
            <div class="avatar-cnt">
                <img src="/img/avatar.png" alt="user pic" class="avatar">
            </div>
            <h5 class="card-title">
                Ciao, <%= user.name %>!
            </h5>
            <p>In this page you can manage your budget and see the incomes and the expenses of the
                current month.</p>
            <p> Clicking on the button below, you can see all transactions!</p>
            <a href="/transactions/all-transactions">
                View all transactions
            </a>
        </div>
        <div class="profile-page">
            <div class="profile-header">
                <div class="bal-inc-exp">
                    <h3 class="title-cnt">This Month</h3>
                    <div class="bal">
                        <h4 class="title">Balance</h4>
                        <p class="value">
                            <%= (income + expense).toFixed(2) %>
                        </p>
                    </div>
                    <div class="inc">
                        <h4 class="title">Incomes</h4>
                        <p class="value">
                            <%= income.toFixed(2) %>
                        </p>
                    </div>
                    <div class="exp">
                        <h4 class="title">Expenses</h4>
                        <p class="value">
                            <%= expense.toFixed(2) %>
                        </p>
                    </div>

                </div>
                <div class="add-transaction">
                    <h4 class="title">Add Transaction</h4>
                    <form action="/transactions/add-transaction" class="add-cnt" method="POST">
                        <div class="input-box">
                            <label for="type">Type</label>
                            <input type="text" id="type" name="type">
                        </div>
                        <div class="input-box">
                            <label for="value">Expense/Income
                                <br>
                                <span>(- before for expenses)</span>
                            </label>
                            <input type="number" id="value" name="value" step="0.01">
                        </div>
                        <button type="submit">Add</button>
                    </form>
                </div>
            </div>
            <div class="transaction">
                <% if (transactions.length> 10) {
                    const loop = 10;
                    } else {
                    loop = transactions.length;
                    }%>
                    <h2 class="title">Last <%= loop %> transactions</h2>
                    <% for( let index=0; index < loop; index++ ) { %>
                        <div class="single <%- transactions[index].value < 0 ? 'negative' : 'positive' %> ">
                            <div class="data">
                                <p>
                                    <%= transactions[index].type %>
                                </p>
                                <p>
                                    <%= transactions[index].value %> $
                                </p>
                                <p>
                                    <%= new Date(transactions[index].date).toLocaleDateString("en-US") %>
                                </p>
                            </div>
                            <a data-method="DELETE" href="/transactions/delete-transaction/<%=transactions[index].id%>"
                                class="delete">Delete</a>
                        </div>

                        <% } %>
            </div>
        </div>
    </div>

    <%- include('./footer.ejs') %>